<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.llf.common">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--Bugly-->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="3c1e673ec2"/>
        <!-- 配置APP版本号 -->
        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="1.2.1"/>
        <!-- 配置APP渠道号 -->
        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="xiaomi"/>
        <!-- 配置Bugly调试模式（true或者false）-->
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="true"/>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.mine.SettingActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.video.VideoDetailActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/VideoDetailTheme"
            />
        <activity
            android:name=".ui.news.detail.NewsDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoStatusBar"
            />
        <activity
            android:name=".ui.mine.TrackActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.mine.AttentionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransparentWindow"
            />
        <activity
            android:name="com.llf.basemodel.image.BigImagePagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BigImageTheme"
            />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.TransparentWindow"
            />

        <!--QQ声明的Activity-->
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent101393961"/>
            </intent-filter>
        </activity>
    </application>
</manifest>